# Save as 'app.env' within this directory and populate with your env values
# app.env is already ignored
NODE_ENV=           # environment (eg DEVELOPMENT)
APP_NAME=           # app name

API_VERSION=        # api version
PORT=               # Express server port

MONGO_URI=          # Mongo Atlas uri.  You must add your password and a custom database name, if desired (default = <dbname>).
BASE_URL=           # eg: /api/
VERSION_URL=        # major API_VERSION (eg '1.0.0' would be v1/)

# Secrets generated via: node require('crypto').randomBytes(<number of bytes you want to use>).toString('hex')
JWT_SECRET=         # 1st generated crypto string for Access Tokens
REFRESH_SECRET=     # 2nd generated crypto string for Refresh Tokens
JWT_EXPIRE=         # Access Token expiration
REFRESH_EXPIRE=     # Refresh Token expiration
DB_REFRESH_EXPIRE=  # Refresh Token expiration for DB Model

SMTP_HOST=          # Refer to host documentation (mailtrap.io, Mailgun, etc.)
SMTP_PORT=          # Refer to host documentation
SMTP_USER=          # Refer to host documentation
SMTP_PASS=          # Refer to host documentation
SENDER_NAME=        # eg Product Support
SENDER_EMAIL=       # eg noreply@yourdomain.com