# Save as 'app.env' within this directory and populate with your env values
# app.env is already ignored
APP_ENV=    # environment (eg DEVELOPMENT)
APP_NAME=   # app name

API_VER=    # api version
PORT=       # Express server port

MONGO_URI=  # Mongo Atlas uri